body{
    font-size: 12px;
}

#map { 
    height: 600px; 
    width: 100%;
    z-index: 1;
}
#neighborhoods {
    columns: 100px 3
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr .5fr;
    grid-gap: 10px;
    
}